
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:#E2E05F;
    padding: 16px;
}
main{
    margin: 0 auto;
    padding: 10px;
}
h2,p,ul {
    margin-bottom: 15px;
}
a{
    color:rgb(255, 0, 0);
    text-decoration: none;
}
